<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container">
    <a class="navbar-brand" style="font-weight: 600;"><font color="#66b933">Movie</font><font color="white">Theater</font></a>
    <div class="navbar-collapse">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="film">Film</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aboutus">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>