<div class="container-fluid mt-3">
  <div class="list">
    <div class="header">

      <div class="row">
        <div class="col">
          <h2 style="color:#66b933;">About Us</h2>
          <div class="line mb-3"></div><br>
        </div>
      </div>

      <div class="row" style="padding: 5%; position: relative; left: 7%;">

        <div class="card col-c-20">
          <img src="../../assets/willyam.jpg" alt="Avatar" class="mb-3" style="width:100%;">
          <div class="container">
            <h5><b>Willyam</b></h5> 
            <p style="font-size: 12px;">00000034868</p>
          </div>
        </div>
        <div class="p-2"></div>
        <div class="card col-c-20">
          <img src="../../assets/bryan.png" alt="Avatar" class="mb-3" style="width:100%;">
          <div class="container">
            <h5><b>Bryan Glennardy</b></h5> 
            <p style="font-size: 12px;">00000036471</p>
          </div>
        </div>
        <div class="p-2"></div>
        <div class="card col-c-20">
          <img src="../../assets/carlos.jpg" alt="Avatar" class="mb-3" style="width:100%">
          <div class="container">
            <h5><b>Carlos Maximilliano</b></h5> 
            <p style="font-size: 12px;">00000034638</p>
          </div>
        </div>
        <div class="p-2"></div>
        <div class="card col-c-20">
          <img src="../../assets/darren.jpg" alt="Avatar" class="mb-3" style="width:100%">
          <div class="container">
            <h5><b>Darren Denisson C</b></h5> 
            <p style="font-size: 12px;">00000034810</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>