<div class="container-fluid mt-3">
  <div class="list">
    <div class="header">

      <div class="row">
        <div class="col">
          <h2 class="mb-3" style="color:#66b933;">Now Playing</h2>
          <div class="line mb-3"></div><br>
        </div>
      </div>

      <div class="row">
        <div *ngFor="let movie of movies" class="col-md-2 col-sm-4">
          <figure class="figure">
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" class="figure-img img-fluid mb-2" style="height: 280px;">
            <button type="button" class="btn btn-info btn-sm btn-block mb-1" data-toggle="modal" data-target="#myModal" (click)="getDetails(movie.id)">Details</button>
            <figcaption class="figure-caption">
              <div class="row">
                <div class="col">
                  <h5 class="mb-1" style="color: white;">{{ movie.title }}</h5>
                  <div class="row ml-auto">
                    <p style="color: white; font-size: 12px;">{{ movie.release_date }}</p>
                    <span class="fa fa-star" style="color: orange; padding-left: 75px;"> {{ movie.vote_average }}</span>
                  </div>

                  <!-- Modal -->
                  <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content" style="background-color:black; color: #66b933">
                        <div class="modal-header">
                          <h4 id= "modalTitle"class="modal-title">{{detailTitle}}</h4>
                        </div>
                        <div class="modal-body">
                          <p id="modalBody">{{detailOverview}}</p>
                          <button class="btn trailer" (click)="watchTrailer()">Watch Trailer</button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
            <div class="col-md-12 col-sm-12 row">
              <div class="col-md-4 col-sm-4"></div>
              <div class="col-md-4 col-sm-4 row">
                <button class="btn btn-outline-light col-md-4 col-sm-4" (click)="prevPage()">< Prev</button>
                <p class="col-md-4 col-sm-4 mt-2" style="color: white; text-align: center;">Page {{ pagenum }}</p>
                <button class="btn btn-outline-light col-md-4 col-sm-4" (click)="nextPage()">Next ></button>
              </div>
              <div class="col-md-4 col-sm-4"></div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>